<form action="/users/{{loginUser.id}}/punch" method="POST">
  <button class="btn btn-primary btn-block" type="submit">打卡</button>
</form>
<form action="/users/{{loginUser.id}}/edit" method="GET">
  <button class="btn btn-primary btn-block" type="submit">修改密碼</button>
</form>