<form action="/users/{{loginUser.id}}/punch" method="POST">
  <div class="form-group">
    {{#if checkHoliday}}
    <p>今天不用打卡喔</p>
    {{else}}
    <label for="punchType">打卡類型</label>
    <select class="form-control" id="punchType" name="punchType" required>
      {{#if loginUser.Punch}}
      <option value="out">下班打卡</option>
      {{else}}
      <option value="in">上班打卡</option>
      {{/if}}
    </select>
    <button class="btn btn-primary btn-block" type="submit">打卡</button>
    {{/if}}
  </div>
</form>

<div id='calendar'></div>