<form action="/users/{{user.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
  <div class="form-row mb-3">
    <label class="form-label" for="employeeCode">Employee Code</label>
    <input class="form-control" type="text" class="form-control-file" id="employeeCode" name="employeeCode" value="{{user.employeeCode}}" disabled>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="password">password</label>
    <input class="form-control" type="text" class="form-control-file" id="password" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>